body{
    background-color: black;
    /* font-family: "Honk", system-ui; */
    font-family: "Karla", sans-serif;
}

.containerSection{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.headerSection {
    background-color: bisque;
    border: 2px solid white;
    border-radius: 4px;
    padding: 5px 15px;
    box-shadow: 5px 10px #7a7a7a3b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}


.navBarList{
    display: flex;
    gap: 50px;
    list-style-type: none;
    padding: 0px 55px;
}

li {
    cursor: pointer;
}


.navBarList li:hover{
    color: gray;
 }

.mainSection {
    background-color: bisque;
    border-radius: 4px;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchSection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    gap: 50px;
}

.formSection {
    display: flex;
    gap: 20px;
    align-items: center;
}
.inputSection, .submitButtonSection{
    padding: 12px 15px;
    border: 1px solid gray ;
    border-radius: 8px;
}

.filterButtonSection {
    padding: 12px 15px;
    border: 1px solid gray ;
    border-radius: 8px;
    cursor: pointer;
}

.submitButtonSection:hover {
cursor: not-allowed;
}

.cardContainer{
    border: none;
    width: 80vw;
    padding: 15px;
    border-radius: 8px;
    background-color: white;
    color: rgba(0, 0, 0, 0.76);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    border: 2px solid rgba(128, 128, 128, 0.247);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 15px;
    padding: 15px;
    width: 250px;
    height: 400px;
    transition: transform 0.3s ease-in-out;
}

.card:hover{
    border: 2px solid rgba(128, 128, 128, 0.486);
    background-color: darksalmon;
    color: white;
    cursor: pointer;
    transform: scale(1.08);

}

.card:hover-out {
    transform: scale(1);
}

.featureSection{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: -10px 0px -10px 0px;
    font-size: 14px;
}

.cardHeading {
    font-size: 20px;
    margin: 10px 0 0 0;
    color: rgb(0, 217, 255);
}

.card:hover .cardHeading    {
    color: black
}

.cardPriceForTwo{
    margin: 5px 0px 0px 0;
    font-size: 14px;
}

.cardETA {
    
}
.card:hover .cardETA    {
    color: green;
}
.cardRating  {
    color: green;
}
.card:hover .cardRating    {
    color: wheat;
}

.cardPriceVeg {
    color: green;
}

.cardPriceNonVeg {
    color: red;
}

.cardCuisineList
{
    margin: 5px 0 0 0;
    font-size: 14px;
}

.card:hover .cardCuisineList    {
    color: black;
}

.cardAddress
{
    margin: 5px 0 0 0;
    font-size: 14px;
    color: chocolate;
}

.card:hover .cardAddress    {
    color: bisque;
}

.card:hover .cardCuisineList    {
    color: black;
}

.cardImg{
    border-radius: 8px;
    width: 100%;
    height: 200px;
}

.footerSection{
    text-align: center;
    color: beige;
}

.footerTextLink{
    text-decoration: none;
    color: pink;
}